/* design intentionally made horrible to see who doesn't change it*/
body {
    font-family: Roboto;
    font-size: 1.5em;
}

ul[class="nav"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
	
}

.nav > li a:hover {
    background-color: #696969;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #55aaff;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
input[type=submit]:hover{
	background-color: #abccff;
}

input:nth-of-type(1) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(2) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(3) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(4) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(5) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}